<div id="footer">
    <div class="container">
        <h3 class="widgettitle">Plan du site</h3>
        <ul>
            {{- range site.Menus.main }}
            <li>
                <a href="{{ .URL }}">
                    {{ .Name }}
                    {{- with .Page }}
                        {{- with .Params.version -}}
                            ({{ . }})
                        {{- end }}
                    {{- end }}
                </a>
            </li>
            {{- end }}
        </ul>
    </div>
</div>
<div id="socket">
    <div class="container">
        <span class="copyright">© Copyright - <a href="https://mathanath.fr/">Mathanath</a></span>
    </div>
</div>